//Comments list
ol.commentlist {
    .comment-body {
        margin-bottom: 25px;
    }
}

.comment {
    &-edit,
    &-reply {
        &-link {
            padding: 0 5px;
        }
    }
}

#respond {
    p {
        text-align: left;
    }
}
